<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p><%= @product.categories.map(&:name).join(", ") %></p>
<p><%= number_to_currency(@product.price) %></p>
<h2>Add a comment</h2>
<%= render "/comments/form" %>
<h2>Comments</h2>
<div class="comments">
  <%# render @product.comments %>
  <% @product.comments.each do |com| %>
    <%= render "/comments/comment", com: com %>
  <% end %>
</div>
